html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #222222;
    color: #ffffff;
}
.page {
    width: 100%;
    height: 100%;
    display: table;
    transform: rotate(20deg);
    vertical-align: middle;
    
}
#over {
	width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: table-cell;
  vertical-align: middle;
}
#under {
	width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: table-cell;
  vertical-align: middle;
  background: url('../src/background.png') no-repeat 0 0;
}
#main { 
    -moz-animation:8s rotateRight infinite linear; 
    -webkit-animation:6s rotateRight infinite linear; 
    background: url('../src/spinner.png') no-repeat 0 0;
    background-size: 100% 100%;
    height:100%;
    width:100%;
}

@-moz-keyframes rotateRight{
    0%{ -moz-transform:rotate(0deg); -moz-transform-origin:50% 50%; }
    100%{ -moz-transform:rotate(360deg); }
}

@-webkit-keyframes rotateRight{
    0%{ -webkit-transform:rotate(0deg); -webkit-transform-origin:50% 50%; }
    100%{ -webkit-transform:rotate(360deg); }
}
